{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
{% endblock %}

<!-- {% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
{% endblock %} -->

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include 'sidebar.html' %}
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="content">
            <div class="post">
              <h1>{{ article.title }}</h1>
              <p class="post-meta">
                // Tags:
                {% for tag in article.tags %}
                  <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                  {% endfor %}
                  &middot; Created: {{ article.locale_date }} {% if article.modified %}
                  &middot; Updated: {{ article.modified }} {% endif %}
              </p>
              <div>{{ article.content }}</div>
            </div>
            <p class="go-top"><a href="#"><i class="fa fa-arrow-circle-o-up"></i> Go Top</a></p>
            {% if DISQUS_SITENAME %}
              {% include 'disqus.html' %}
            {% endif %}
          </div>
          {% include 'footer.html' %}
    </div>
  </div>
</div>
{% endblock content %}
