{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="content">
                <h3 class="content-subhead">
                        {% block pagetitle %}
                            {% if not articles_page.has_previous() %}
                                Latest posts
                            {% else %}
                                Posts
                            {% endif %}
                        {% endblock pagetitle %}
                        {% if articles_page.has_previous() %}
                            &ndash; Page&nbsp;{{ articles_page.number }}
                        {% endif %}
                </h3>
                <div class="posts">
                    {% for article in articles_page.object_list %}
                        {% include 'post.html' %}
                    {% endfor %}
                    {% include 'pagination.html' %}
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock content %}