{% extends 'index.html' %}
{% block title %}{{ page.title|striptags }} // {{ super() }}{% endblock title %}

{% block content %}
<div "container-fluid">
    <div "row">
    	{% include 'sidebar.html' %}
    	<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	    <div class="content">
    	        <h3 class="content-subhead">{{ page.title }}</h3>
    	        <div>{{ page.content }}</div>
    	    </div>
    	    {% include 'footer.html' %}
    	</div>
    </div>
</div>
{% endblock %}
