<div class="col-xs-12 col-sm-3 col-md-2 sidebar">
    <!-- <div class="cover-img" style="background-image:url('{{ COVER_IMG_URL }}')"> -->
        <div class="usr-meta">
                <a href="{{ SITEURL }}/index.html">
                    <img class="img-circle avatar" alt="Home" src="{{ PROFILE_IMAGE_URL }}">
                </a>
                <h3 class="brand-title text-capitalize"><a href="/">{{ SITENAME }}</a></h3>
                <p class="brand-tagline">{{ TAGLINE }}</p> 
                {% for title, link in MENUITEMS %}
                    <p class="menu-item"><a href="/{{ link }}">{{ title }}</a></p>
                {% endfor %}  
                <p class="social">
                    {% for title, link in SOCIAL %}
                        <a href="{{ link }}">
                            <i class="fa fa-{{ title }} fa-2x"></i>
                        </a>
                    {% endfor %}
                <p>
        </div>
    <!-- </div> -->
</div>
