/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

.body {
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.container .row {
	margin-left: 0;
	margin-right: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #d9534f;
}

/*.cover-img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-color: #6699cc;
}*/

.usr-meta {
	text-align: center;
}

.avatar {
	margin-top: 1em;
    	width: 7em;
    	height: 7em;
}

.brand-title {
	font-weight: bold;
}

.brand-title a {
	color: #000000;
}

.brand-tagline {
	margin-bottom: 1.5em;
	font-size: 0.8em;
	color: #333333;
}

.menu-item {
	display: inline;
	padding: 0 0.2em;
}

.menu-item a {
	padding: 2px 10px;
	border: 1px solid;
	border-radius: 15px;
	color: #333333;
}

.social {
	padding-top: 15px;
}

.social a {
	padding: 0 5px;
	color: #333333;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
	padding: 1em;
	text-align: justify;
	/*text-justify: inter-ideograph;*/
}

.post {
	border-bottom: 1px dashed #D9D9D9;
}

/*.post-title {
	font-weight: 500;
	font-size: 24px;
}

.post-summary {
	font-size: 15px;
	color: #717171;
	font-weight: 100;
}

.post-meta {
	font-size: 14px;
	color: #717171;
}*/

/*.article-cover {
	width:420px;
	height: 420px;
	display: block;
	margin: 1em auto;
}*/

/*pre {
    padding: 15px 15px 15px 15px;
    font-size: 90%;
    box-shadow: 2px 2px 2px #888;
}*/

.go-top {
	display: block;
	padding: 2em 0;
}

.footer {
	padding: 1em 3em;
	text-align: center;
}


@media (min-width: 768px) {

	.sidebar {
  		position: fixed;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		z-index: 1000;
  		display: block;
  		padding: 20px;
  		overflow-x: hidden;
  		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  		background-color: white;
  		border-right: 1px solid #eee;
  	}

  	.main {
  		padding: 0 40px;
  	}

	.usr-meta {
		text-align: right;
	}

	.avatar {
		margin-top: 1em;
    		width: 7em;
    		height: 7em;
	}

	.brand-tagline {
		margin-bottom: 1.5em;
	}

	.menu-item {
		display: block;
	}

	.menu-item a {
		padding: 2px 10px;
		border: 1px solid;
		border-radius: 15px;
	}

	.content {
		padding: 2em 3em;
		text-align: justify;
		max-width: 1000px;
		margin: 0 auto;
	}

}
