* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: none;
    color: red;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 20% auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sidebar {
    /*background: white;
    color: black;*/

    /*side-bar background image setting*/
    /*position: absolute;*/
    /*width: 100%;*/
    
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);*/

    /*position: fixed;
    top: 0;
    bottom: 0;*/
}

.brand-main,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    margin-top: 1em;
}
.brand-tagline {
    font-weight: 300;
}

.brand-main a {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    font-size: 0.8em;
    /*color: #fff;*/
    border-bottom: 1px solid rgba(200,200,200,0.5);
    /*text-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.avatar {
    border-radius: 50px;
    margin: 1em;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid white;
}

.links a {
    font-size: 15px;
    padding-left: 15px;
    letter-spacing: 2px;
    /*text-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
    text-decoration: none;
    color: green;
}

.social {
    display: inline-block;
}
.social a {
    text-decoration: none;
    margin: 0 0.5em;
    /*text-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
    /*color: #fff;*/
}

/*.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}*/

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    /*font-size: 1em;*/
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
    width: 48px;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    /*text-shadow: 0 1px 1px #333;*/
}

.sidebar-article {
    height: 100%;
    /*border-bottom: 1px #dededc solid;*/
    padding-top: 2em;
    padding-left: 1em;
}

.header-article {
    text-align: right;
    font-size: 1em;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.content {
    float: right;

    padding: 2em 3em 0;
    /*max-width: 1000px;*/
    font-size: 85%;
    line-height: 1.45;
    color: #333332;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-align: justify;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    /*.content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }*/

    .header {
        margin: 30% 2em 0;
        text-align: center;
    }

    .sidebar {
        /*position: fixed;*/
        top: 0;
        bottom: 0;
    }

    .avatar {
    border-radius: 50px;
    margin-left: 1em;
    margin-top: 7px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid white;
}
}
